[safe]
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
	directory = /home/roboteamtwente
	directory = /home/roboteamtwente/build/_deps/tracy-src
