[submodule "external/framework"]
	path = external/framework
	url = https://github.com/robotics-erlangen/framework.git
[submodule "external/autoref"]
	path = external/autoref
	url = https://github.com/robotics-erlangen/autoref.git
[submodule "roboteam_autoref"]
	path = roboteam_autoref
	url = https://github.com/RoboTeamTwente/roboteam_autoref.git
	branch = main
[submodule "roboteam_robothub/roboteam_embedded_messages"]
	path = roboteam_robothub/roboteam_embedded_messages
	url = https://github.com/RoboTeamTwente/roboteam_embedded_messages.git
[submodule "tigers_sumatra"]
	path = tigers_sumatra
	url = git@github.com:RoboTeamTwente/tigers_sumatra.git
