<launch>


    <arg name="robot_output_target" default="grsim" />

    <include file="$(find roboteam_utils)/mini.launch">
        <arg name="robot_output_target" value="$(arg robot_output_target)" />
    </include>

    <param name="role_iterations_per_second" type="int" value="30" />

    <node name="robot0" pkg="roboteam_tactics" type="RoleNode" output="screen" />
    <node name="robot1" pkg="roboteam_tactics" type="RoleNode" output="screen" />
    <node name="robot2" pkg="roboteam_tactics" type="RoleNode" output="screen" />
    <node name="robot3" pkg="roboteam_tactics" type="RoleNode" output="screen" />
    <node name="robot4" pkg="roboteam_tactics" type="RoleNode" output="screen" />
    <node name="robot5" pkg="roboteam_tactics" type="RoleNode" output="screen" />
</launch>
