<launch>
    <arg name="legacy_packets" default="false" />
    <param name="use_legacy_packets" type="boolean" value="$(arg legacy_packets)" />

    <arg name="robot_output_target" default="grsim" />
    <param name="robot_output_target" type="string" value="$(arg robot_output_target)" />

    <param name="robot0/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot1/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot2/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot3/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot4/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot5/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot6/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot7/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot8/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot9/robotType"  type="string" value="$(arg robot_output_target)" />
    <param name="robot10/robotType" type="string" value="$(arg robot_output_target)" />
    <param name="robot11/robotType" type="string" value="$(arg robot_output_target)" />
    <param name="robot12/robotType" type="string" value="$(arg robot_output_target)" />
    <param name="robot13/robotType" type="string" value="$(arg robot_output_target)" />
    <param name="robot14/robotType" type="string" value="$(arg robot_output_target)" />
    <param name="robot15/robotType" type="string" value="$(arg robot_output_target)" />

    <!-- <param name="robotClaimedBall" type="int" value="-1" /> -->

    <arg name="should_normalize_field" default="true" />
    <param name="normalize_field" type="boolean" value="$(arg should_normalize_field)" />

    <arg name="our_field_side" default="left" />
    <param name="our_side" type="string" value="$(arg our_field_side)" />

    <node pkg="roboteam_world" type="filtered_world" name="world" output="screen"/>
    <node pkg="roboteam_vision" type="roboteam_vision" name="vision"/>
    <param name="serialOut" type="string" value="/dev/ttyACM0" />
    <node pkg="roboteam_robothub" type="roboteam_robothub" name="robothub" output="screen"/>
</launch>
