<launch>
    <arg name="legacy_packets" default="false" />
    <param name="use_legacy_packets" type="boolean" value="$(arg legacy_packets)" />

	<param name="our_side" type="str" value="right" />
  	<param name="our_color" type="str" value="yellow" />

    <node pkg="roboteam_world" type="filtered_world" name="world"/>
    <node pkg="roboteam_vision" type="roboteam_vision" name="vision"/>
    <node pkg="roboteam_robothub" type="roboteam_robothub" name="robothub" />
</launch>
